{
  "extends": [
    "standard",
    "standard-react",
    "prettier",
    "prettier/react",
    "prettier/standard",
    "plugin:cypress/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "jest": true,
    "browser": true,
    "node": true
  }
}
