.weather-button
  display: flex;
  width: 100%;
  align-items: center;
  background-color: transparent;
  border: 0;

  .icon
    max-width: 5rem;
    margin: 0;

  .light &
    color: gray
    text-shadow: 1px 1px rgba(white, .2)

  .dark &
    color: white
    text-shadow: 1px 1px rgba(gray, .2)

