.background
  z-index: zlevel--100
  position: absolute
  bottom: 0
  left: 0
  right: 0
  top: 0
  transition: background-color .2s ease-in-out


  .light &
    background-color: white;

  .dark &
    background-color: gray;

