// overrides for flickity plugin css
#app
  .flickity-page-dots
    top: 20px
    bottom: auto

  .flickity-prev-next-button.previous
      left: 5vw

  .flickity-prev-next-button.next



  .dark
    .flickity-page-dots .dot.is-selected
      background: white

    .flickity-prev-next-button.previous,
    .flickity-prev-next-button.next
      background: rgba(white, 0.75)

      .arrow
        fill: gray



  .light
    .flickity-page-dots .dot.is-selected
      background: gray

    .flickity-prev-next-button.previous,
    .flickity-prev-next-button.next
      background: rgba(gray, 0.75)

      .arrow
        fill: white





