.logo
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  .tagline
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 2px solid gray;
    color: gray;
    font-size: 1.2rem;
    max-width: 400px;
    text-align: center;

  h1
    font-size: 3rem;
    margin: 0 auto;
    text-align: center;
    color: gray;

    small
      font-size: 50%;