.search
  display: flex;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;

  button
    z-index: 100

  .search-bar
    width: 100%;
    position: relative;
    padding-bottom: 0px;
    margin-left: 15px;

  .search-input
    font-family: "Montserrat"
    display: block;
    width: 100%;
    padding: .5rem 0 .5rem 15px;