@import "~normalize.css"

@import "./variables"
@import "./defaults"
@import "./layouts"

@import "./components/background"
@import "./components/loader"
@import "./components/weather"
@import "./components/flickity"
