// Overrides for default html goes here
body
  font-family: sans-serif-font
  font-weight: 400
  background-color: lightBg
  transition: background-color .5s ease-out;

  &.light
    background-color: lightBg

  &.dark
    background-color: darkBg
