// Colors
json('colors.json')

// Backgrounds
// = Light
bg-light =   lightBg
bg-light-highlight = lightHighlight
// = Dark
bg-dark = darkBg
bg-dark-highlight = darkHighlight


// Text
// = Light
text-light = lightText
text-light-highlight = lightHighlightText
// = Dark
text-dark = darkText
text-dark-highlight = darkHightlightText

// z-levels
zlevel--100 = -100
zlevel-2 = 2

// font
sans-serif-font = 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
